@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&display=swap');

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  color: #eae2b7;
  background-color: #003049;
  /* background: hsla(242, 83%, 9%, 1);
  background: linear-gradient(45deg, hsla(242, 83%, 9%, 1) 0%, hsla(215, 68%, 54%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(242, 83%, 9%, 1) 0%, hsla(215, 68%, 54%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(242, 83%, 9%, 1) 0%, hsla(215, 68%, 54%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#05042C", endColorstr="#3B7EDA", GradientType=1 ); */
}

.main-title {
  font-size: 4em;
  margin-top: 0 !important;
  padding-top: 1em;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  line-height: 0.8em;
}

.main-tag {
  font-size: 0.4em;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
}

#startButtonDiv {
  grid-column: 1 / -1;
  grid-row: 2;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.startButton {
  background-color: transparent;
  border: 0.15em solid #d62828;
  background-color: #d62828;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.startButton:hover {
  box-shadow: 4px 8px black;
  background-color:#d62828;
  transition: 0.1s;
}

.startButton:active {
  transform: scale(0.98);
  transition: 0.001s;
}

/******************
*** SKATER PAGE ***
******************/
.statButton {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  background-color: #d62828;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.statButton:active {
  transform: scale(0.98);
  transition: 0.0001s;
}

.statButton:hover {
  box-shadow: 4px 8px black;
  transition: 0.1s;
  cursor: pointer;
}
